.ui-icon-mantenimiento {
    background-image: url(../../resources/images/mantenimiento.png) !important;
}

.ui-icon-repuesto {
    background-image: url(../../resources/images/repuesto.png) !important;
}

.ui-icon-eliminar {
    background-image: url(../../resources/images/eliminar.png) !important;
}

.ui-icon-red {
    background-image: url(../../resources/images/red.png) !important;
}

.ui-icon.large { 
    background-size: 384px 360px;
    height: 24px;
    margin-top: 0px;
    width: 24px;
}